*{
  margin: 0;
  padding: 0;
}
.App{
  width: 90%;
  height: auto;
  text-align: center;
  margin: auto;
}
.App > h1.main-heading{
  color: crimson;
}
.App h2.problem{
  text-align: left;
  margin-bottom: 10px;
}
.App p.solution{
  text-align: justify;
  margin-bottom: 10px;
}
p.solution span{
  font-size: 18px;
  font-weight: bold;
  color: crimson;
}